<section class="bg-primary flex py-8 items-center justify-center">
    <div class=" w-full md:w-[90%]">
        <app-section-title [title]="'SUCCESS_STORY' | translate" [color]="'before:bg-yellow after:bg-yellow'"
            [titleColor]="'text-white'">
        </app-section-title>

        <div class="flex items-center ">
            <!-- Left arrow -->
            <button (click)="prevStory()"
                  class="h-8 w-8 md:h-12 md:w-12 2xl:h-20 2xl:w-20  border-none outline-none bg-white rounded-full hover:bg-opacity-75 flex items-center justify-center">
      <svg  viewBox="0 0 17 34" fill="none" class="fill-yellow  w-3 md:w-4 2xl:w-6 ButtonsTransform"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.0423865 19.0601C-0.225633 17.1958 0.824416 15.9616 1.86712 14.8099C6.12606 10.1034 10.9394 5.87057 15.0772 0.951114C16.1125 -0.0484208 17.4306 1.23359 16.6412 2.59383C15.7784 4.08445 14.1005 5.64025 13.0505 7.0961C8.48316 13.4106 7.27524 22.2369 12.1657 28.886C12.7201 29.6422 14.0308 30.759 14.3869 31.4674C14.8165 32.3279 14.5448 33.3405 13.6673 33.4795C12.9991 33.5838 11.9417 32.3496 11.424 31.8498C8.25553 28.7947 4.36741 24.9922 1.51833 21.585C1.01533 20.981 0.167218 19.9032 0.0460588 19.0558L0.0423865 19.0601Z"
          fill="" />
      </svg>
            </button>

            <div class="flex flex-col-reverse px-3  lg:flex-row items-center justify-center gap-10 md:gap-20  w-full"
                *ngIf="SuccessStories[currentIndex] as story">

                <div class="w-full lg:w-[45%]">
                    <p class="text-justify text-white text-xs md:text-base 2xl:text-2xl ">{{ story.paragraph }}</p>
                    <button class="mt-4 text-yellow hover:underline font-medium text-sm 2xl:text-lg">Load More
                        &gt;</button>
                </div>

                <div class=" grid grid-cols-2 items-center gap-8    ">

                    <div
                        class=" relative w-28 h-32   md:w-56 md:h-60 lg:w-48 lg:h-44 xl:w-56 xl:h-60  2xl:w-64 2xl:h-64  rounded-3xl overflow-hidden">
                        <img [src]="story.Images[0].image" class="object-cover w-full h-full" />
                        <div class="absolute bottom-0 left-0 right-0 py-2 sm:py-4 text-center bg-white">
                            <p class="text-[10px] sm:text-xs md:text-sm lg:text-base 2xl:text-xl font-bold">{{
                                story.Images[0].name }}</p>
                        </div>
                    </div>

                    <div class=" space-y-4 md:space-y-8">
                        <div
                            class="relative w-28 h-32  md:w-56 md:h-60 lg:w-48 lg:h-44 xl:w-56 xl:h-60  2xl:w-64 2xl:h-64 rounded-3xl overflow-hidden">
                            <img [src]="story.Images[1].image" class="object-cover w-full h-full" />
                            <div class="absolute bottom-0 left-0 right-0 py-2 sm:py-4 text-center bg-white">
                                <p class="text-[10px] sm:text-xs md:text-sm lg:text-base 2xl:text-xl font-bold">
                                    {{story.Images[1].name}}</p>
                            </div>
                        </div>
                        <div
                            class="relative w-28 h-32 grid-cols-6  md:w-56 md:h-60 lg:w-48 lg:h-44 xl:w-56 xl:h-60  2xl:w-64 2xl:h-64 rounded-3xl overflow-hidden">
                            <img [src]="story.Images[2].image" class="object-cover w-full h-full" />
                            <div class="absolute bottom-0 left-0 right-0 py-2 sm:py-4 text-center bg-white">
                                <p class="text-[10px] sm:text-xs md:text-sm lg:text-base 2xl:text-xl font-bold">{{
                                    story.Images[2].name }}</p>
                            </div>
                        </div>
                    </div>


                </div>


            </div>




            <!-- Right arrow -->
            <button (click)="nextStory()"
               class="h-8 w-8 md:h-12 md:w-12 2xl:h-20 2xl:w-20 border-none outline-none bg-white  rounded-full hover:bg-opacity-75 flex items-center justify-center">
      <svg  viewBox="0 0 17 34" fill="none" class="fill-yellow w-3 md:w-4 2xl:w-6 ButtonsTransform "
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.9576 14.7546C17.2256 16.619 16.1756 17.8532 15.1329 19.0048C10.8739 23.7114 6.06061 27.9442 1.92283 32.8636C0.887472 33.8632 -0.430594 32.5812 0.358778 31.2209C1.22158 29.7303 2.89945 28.1745 3.9495 26.7187C8.51684 20.4042 9.72476 11.5779 4.83433 4.92876C4.27993 4.17259 2.96921 3.05572 2.61307 2.34735C2.18351 1.48688 2.4552 0.474302 3.33269 0.335236C4.0009 0.230936 5.05829 1.46515 5.57597 1.96492C8.74447 5.02002 12.6326 8.8226 15.4817 12.2297C15.9847 12.8338 16.8328 13.9116 16.9539 14.759L16.9576 14.7546Z"
          fill="" />
      </svg>

            </button>
        </div>

        <div class="flex justify-center mt-6 gap-2">
            <ng-container *ngFor="let story of SuccessStories; let i = index">
                <button (click)="currentIndex = i" class=" h-2 rounded-full" [ngClass]="{
        'bg-yellow  w-10 ': currentIndex === i,
        'bg-white w-2 opacity-50': currentIndex !== i
      }"></button>
            </ng-container>
        </div>
    </div>
</section>