<section class="bg-black text-white py-6 px-5">
    <div class="w-full md:w-[90%] mx-auto">
        <div class="flex flex-col lg:flex-row text-xs  2xl:text-2xl gap-6">

            <!-- logo w l emails -->
            <div class="lg:w-1/3 space-y-5 md:space-y-10 pb-6  lg:pb-0 2xl:text-2xl">
                <img src="assets/images/TanmeyahLogoWhite.svg" alt="" class="h-10 lg:h-14 2xl:h-20">
                <p class="flex items-start gap-1 font-bold">
                    <svg class="w-5 h-5" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.7373 4.98362C4.7373 4.98362 4.82275 4.89373 4.99365 4.71395C5.16455 4.53416 5.25 4.19018 5.25 3.68199C5.25 3.17381 5.0791 2.73993 4.7373 2.38037C4.39551 2.0208 3.98307 1.84102 3.5 1.84102C3.01693 1.84102 2.60449 2.0208 2.2627 2.38037C1.9209 2.73993 1.75 3.17381 1.75 3.68199C1.75 4.19018 1.9209 4.62405 2.2627 4.98362C2.60449 5.34319 3.01693 5.52297 3.5 5.52297C3.98307 5.52297 4.39551 5.34319 4.7373 4.98362ZM7 3.68199C7 4.20456 6.9248 4.63364 6.77441 4.96924L4.28613 10.5353C4.21322 10.6935 4.10498 10.8182 3.96143 10.9093C3.81787 11.0004 3.66406 11.0459 3.5 11.0459C3.33594 11.0459 3.18213 11.0004 3.03857 10.9093C2.89502 10.8182 2.78906 10.6935 2.7207 10.5353L0.225586 4.96924C0.0751953 4.63364 0 4.20456 0 3.68199C0 2.66562 0.341797 1.79787 1.02539 1.07874C1.70898 0.359606 2.53385 4.00543e-05 3.5 4.00543e-05C4.46615 4.00543e-05 5.29102 0.359606 5.97461 1.07874C6.6582 1.79787 7 2.66562 7 3.68199Z"
                            fill="white" />
                    </svg>
                    <span class="">1 Ahmed AbdelazimTakseem El-Laselky, Cairo, Egypt</span>
                </p>
                <p class="flex items-center gap-1 font-bold">
                    <svg class="w-5 h-5" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M2.33329 11.6668C2.01246 11.6668 1.73538 11.555 1.50204 11.3314C1.27843 11.0981 1.16663 10.821 1.16663 10.5002V3.50016C1.16663 3.17933 1.27843 2.90711 1.50204 2.6835C1.73538 2.45016 2.01246 2.3335 2.33329 2.3335H11.6666C11.9875 2.3335 12.2597 2.45016 12.4833 2.6835C12.7166 2.90711 12.8333 3.17933 12.8333 3.50016V10.5002C12.8333 10.821 12.7166 11.0981 12.4833 11.3314C12.2597 11.555 11.9875 11.6668 11.6666 11.6668H2.33329ZM6.99996 7.5835L11.6666 4.66683V3.50016L6.99996 6.41683L2.33329 3.50016V4.66683L6.99996 7.5835Z"
                            fill="#FEF7FF" />
                    </svg>
                    <span class="">info&#64;tanmeyah.com</span>
                </p>
            </div>

            <!-- l 2 lists w l map -->

            <div class="flex flex-col md:flex-row  lg:w-2/3 gap-6 md:gap-28 lg:gap-16 xl:gap-28">

                <div class="flex justify-between w-full md:w-1/2">
                    <div>
                        <p class="pb-7  font-bold xl:text-[18px] text-[15px] 2xl:text-2xl ">About Us</p>
                        <ul class="leading-[30px] 2xl:leading-[50px] xl:text-[14px] text-[12px] 2xl:text-xl">
                            <li>History</li>
                            <li>Our Performance</li>
                            <li>Corporate Citizenship</li>
                            <li>Success Stories</li>
                        </ul>
                    </div>
                    <div>
                        <p class="pb-7 xl:pb-9 xl:text-[18px] text-[15px] font-bold 2xl:text-2xl">Our Product</p>
                        <ul class="leading-[30px] 2xl:leading-[50px]  xl:text-[14px] text-[12px] 2xl:text-xl">
                            <li>El Kaseeb Financing</li>
                            <li>El Kabeer Financing</li>
                            <li>Fabrica Financing</li>
                            <li>El Doctor Financing</li>
                        </ul>
                    </div>
                </div>

                <div class="rounded-3xl w-full md:w-1/2 h-40 xl:h-52 2xl:h-80 px-0 overflow-hidden">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.1653522204!2d31.281220174628814!3d29.97467762187456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458385e217a526b%3A0xe089f0c789577c2d!2sTanmeyah!5e0!3m2!1sen!2seg!4v1753182785910!5m2!1sen!2seg"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        class="w-full h-full rounded-3xl overflow-hidden" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
        <!-- l hr w l list l a5era -->
        <div class="text-white pt-5">
            <hr>
            <div
                class="flex flex-col lg:flex-row items-center  justify-between text-xs lg:gap-24  font-bold 2xl:text-2xl pt-3 gap-4 xl:gap-0">
                <div class="w-full lg:w-1/3 flex justify-center font-bold text-[12px]  2xl:text-xl lg lg:justify-start ">
                    <p>© 2025 - Tanmeyah</p>
                </div>
                <div class="w-full xl:w-2/3 flex flex-col items-center lg:flex-row lg:items-start">
                    <div class="w-full xl:w-1/2 flex justify-center lg:justify-start">
                        <ul class="flex  items-center gap-4 font-bold text-[12px] 2xl:text-xl lg:gap-5 xl:gap-16 2xl:gap-24 ">
                            <li>Privacy</li>
                            <li>Terms and Conditions</li>
                            <li>FRA Compliance</li>
                        </ul>
                    </div>

                    <div class="hidden lg:flex xl:w-1/2 justify-end"></div>
                </div>
            </div>
        </div>
    </div>
</section>