<section class="bg-primary shadow-md lg:pt-4 lg:pb-9 md:pt-5 md:pb-5  relative">
    <nav
        class="  md:px-4  md:py-1 lg:py-4 2xl:px-12 2xl:py-6  py-4 px-2 w-[90%] sm:w-[80%]   mx-auto flex items-center justify-between">
        <div class="flex items-center">
            <img src="assets/images/TanmeyahLogoWhite.svg" alt="Logo"
                class="h-9 w-24 md:h-10 md:w-32 2xl:w-52 2xl:h-28" />
        </div>




        <div class="flex items-center justify-between gap-4 sm:gap-10">

            <div class="flex md:gap-6 gap-2  items-center">
                <button
                    class="border-white leading-3 sm:leading-3 lg:leading-3 text-xs md:text-sm  border-2 2xl:text-3xl 2xl:px-4 2xl:border-3 2xl:py-4 text-white px-2 sm:px-3 py-2 lg:px-4 lg:py-3 md:px-3 md:py-2   rounded-full hover:bg-white hover:text-red-600 transition">
                    Apply Now
                </button>
                <button
                    class="border-white leading-3  sm:leading-3 lg:leading-3 text-xs md:text-sm   border-2 2xl:text-3xl 2xl:px-4 2xl:border-3 2xl:py-4 text-white px-2 sm:px-3 py-2 lg:px-4 lg:py-3 md:px-3 md:py-2  rounded-full hover:bg-white hover:text-red-600 transition">
                    Join Our Team
                </button>

                <div class="gap-2 text-white text-xl items-center hidden lg:flex">
                    <div *ngFor="let item of socialIcons"
                        class="rounded-full border-2 p-2 w-7 h-7 2xl:w-10 2xl:h-8 2xl:p-8  flex items-center justify-center border-white/40">
                        <i class="fab fa-{{ item.icon }} text-sm hover:text-red-300 2xl:text-2xl cursor-pointer"></i>
                    </div>
                </div>

            </div>
            <div class="flex  lg:hidden" (click)="toggleMenu()">
                <i class="fa-solid fa-bars text-white text-lg sm:text-xl md:text-2xl  cursor-pointer"></i>
            </div>
        </div>
    </nav>





    <div *ngIf="isOpen"
        class="fixed top-0 right-0 w-64 h-full lg:hidden bg-white z-50  shadow-lg transition-transform duration-300 transform translate-x-0"
        [ngClass]="{
    'right-0': menuPosition === 'right',
    'left-0': menuPosition === 'left'
  }">

        <div class="p-4  ">
            <button (click)="closeMenu()" [ngClass]="currentLang === 'ar' ? '-translate-x-52' : 'translate-x-52'"
                class="text-gray-600 translate-x-52 hover:text-red-600">
                <i class="fa-solid fa-xmark text-2xl"></i>
            </button>
        </div>

        <div class="p-4 space-y-4 text-gray-700 ">
            <a *ngFor="let link of navlinks" [href]="link.href"
                class="block text-gray-700 text-base hover:text-primary transition">
                {{ link.label | translate }}
            </a>
            <div class="mt-4 pt-2 flex justify-center gap-4 ">

                <div class="mt-4 pt-2 flex justify-center">
                    <button (click)="toggleLang()"
                        class="flex items-center gap-2 px-3 py-1 shadow-md rounded hover:bg-gray-100 transition">
                        <img [src]="currentLang === 'en' ? 'assets/images/eg.svg' : 'assets/images/us.svg'" alt="flag"
                            class="w-5 h-5" />
                        {{ currentLang === 'en' ? 'العربية' : 'English' }}
                    </button>
                </div>
            </div>

            <div class="gap-2 text-white text-xl flex  items-center justify-center ">
                <div *ngFor="let item of socialIcons"
                    class="rounded-full border-2 p-2 w-7 h-7  flex items-center justify-center">
                    <i class="fab fa-{{ item.icon }} text-sm  text-gray-700 hover:text-gray-900 cursor-pointer"></i>
                </div>
            </div>


        </div>
    </div>

</section>