<section class="relative w-full h-[80vh] sm:h-[100vh] lg:h-screen bg-cover bg-center flex flex-col justify-center"
  [ngStyle]="{
    'background-image': 'url(' + slides[currentIndex] + ')'
  }">

  <div class="flex items-center justify-between w-full px-2 sm:px-4 md:px-6 mx-auto">

    <!-- Left arrow -->
    <button (click)="prevSlide()"
      class="h-8 w-8 md:h-12 md:w-12 2xl:h-20 2xl:w-20  border-none outline-none bg-white text-primary rounded-full hover:bg-opacity-75 flex items-center justify-center">
      <svg  viewBox="0 0 17 34" fill="none" class="fill-primary  w-3 md:w-4 2xl:w-6 ButtonsTransform"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.0423865 19.0601C-0.225633 17.1958 0.824416 15.9616 1.86712 14.8099C6.12606 10.1034 10.9394 5.87057 15.0772 0.951114C16.1125 -0.0484208 17.4306 1.23359 16.6412 2.59383C15.7784 4.08445 14.1005 5.64025 13.0505 7.0961C8.48316 13.4106 7.27524 22.2369 12.1657 28.886C12.7201 29.6422 14.0308 30.759 14.3869 31.4674C14.8165 32.3279 14.5448 33.3405 13.6673 33.4795C12.9991 33.5838 11.9417 32.3496 11.424 31.8498C8.25553 28.7947 4.36741 24.9922 1.51833 21.585C1.01533 20.981 0.167218 19.9032 0.0460588 19.0558L0.0423865 19.0601Z"
          fill="" />
      </svg>

    </button>

    <!-- l content mn 8ir l zorar -->
    <div class="text-center  mx-auto">
      <div class="flex items-center group justify-center sm:gap-5 ">
        <div
          class="before:block before:w-10 sm:before:w-20  md:before:w-24 lg:before:w-28 before:h-[3px] md:before:h-[4px] lg:before:h-[5px]

          before:bg-primary before:rounded-lg before:content-[''] before:me-4 before:scale-x-50 before:origin-left before:transition-transform before:duration-300 group-hover:before:scale-x-100 scaleTransform">
        </div>

        <p
          class=" text-center  sm:text-xl md:text-2xl lg:text-3xl 2xl:text-[55px] 2xl:leading-[70px] lg:leading-10 md:leading-10  text-white font-bold">
          With you in <br> Every Success
        </p>

        <div class="after:block after:w-10 sm:after:w-20 md:after:w-24 lg:after:w-28 
          after:h-[3px] md:after:h-[4px] lg:after:h-[5px] 
          after:bg-primary after:rounded-lg after:content-[''] 
          after:ms-4 after:scale-x-50 after:origin-right 
          scaleTransform
          after:transition-transform after:duration-300 
          group-hover:after:scale-x-100">
        </div>

      </div>
    </div>
    <!-- Right arrow -->
    <button (click)="nextSlide()"
      class="h-8 w-8 md:h-12 md:w-12 2xl:h-20 2xl:w-20 border-none outline-none bg-white  text-primary rounded-full hover:bg-opacity-75 flex items-center justify-center">
      <svg  viewBox="0 0 17 34" fill="none" class="fill-primary w-3 md:w-4 2xl:w-6 ButtonsTransform "
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.9576 14.7546C17.2256 16.619 16.1756 17.8532 15.1329 19.0048C10.8739 23.7114 6.06061 27.9442 1.92283 32.8636C0.887472 33.8632 -0.430594 32.5812 0.358778 31.2209C1.22158 29.7303 2.89945 28.1745 3.9495 26.7187C8.51684 20.4042 9.72476 11.5779 4.83433 4.92876C4.27993 4.17259 2.96921 3.05572 2.61307 2.34735C2.18351 1.48688 2.4552 0.474302 3.33269 0.335236C4.0009 0.230936 5.05829 1.46515 5.57597 1.96492C8.74447 5.02002 12.6326 8.8226 15.4817 12.2297C15.9847 12.8338 16.8328 13.9116 16.9539 14.759L16.9576 14.7546Z"
          fill="#EC2227" />
      </svg>

    </button>
  </div>
  <!-- zorarr-->
  <div class="lg:mt-8 mt-3 flex justify-center">
    <button
      class="bg-primary text-white group/button lg:px-8 lg:py-2 xl:px-11 xl:py-3 2xl:px-20 2xl:py-5 md:px-9 md:py-2 px-5 py-2 sm:py-[2px] rounded-full flex items-center justify-center gap-2 hover:bg-black hover:text-white">
      <span
        [ngClass]="translate.currentLang === 'ar' ? 'group-hover/button:translate-x-2' : 'group-hover/button:-translate-x-2'"
        class="transition-transform text-sm sm:text-base md:text-xl 2xl:text-3xl outline-none duration-300  ">
        {{ 'APPLY-NOW' | translate }}
      </span>
      <img src="../.././../assets/images/whiteButtonArrow.svg"
        [ngClass]="translate.currentLang === 'ar' ? 'group-hover/button:-translate-x-2 rotate-180 ' : 'group-hover/button:translate-x-2 '"
        class="transition-transform duration-300 w-3 md:w-4 2xl:w-6 " alt="arrow" />
    </button>
  </div>

</section>