<section class="mt-10 py-5 ">
  <app-section-title [title]="'OUR_PRODUCTS' | translate"
    [color]="'before:bg-yellow after:bg-yellow'"></app-section-title>

  <div class="swiper w-full  overflow-hidden mt-12">
    <div class="swiper-wrapper ps-8">
      <div *ngFor="let card of cards" class="swiper-slide text-center ">
        <div class="bg-grey flex items-center flex-col  border border-primary  sm:gap-2  w-[190px] sm:w-[210px] md:w-[240px] lg:w-[270px] xl:w-[280px] 2xl:w-[310px] 
              rounded-2xl   p-3 sm:p-4 md:p-5  ">

          <div class="lg:w-60 md:w-52 sm:w-48">
            <img [src]="card.image" alt="" class=" bg-cover w-full ">

          </div>
          <h2 class="font-bold text-sm md:text-base line-clamp-1 mt-2">{{ card.title }}</h2>
          <p class="text-xs md:text-sm line-clamp-2 sm:line-clamp-3 mt-2 ">{{ card.description }}</p>

          <div *ngFor="let feature of card.features" class="flex items-center justify-center gap-2">
            <img [src]="feature.icon" alt="">
            <p class="text-[10px] md:text-xs text-darkgrey text-justify">{{ feature.text }}</p>
          </div>

          <div class="mt-8 flex justify-center">
            <button
              class="bg-primary text-white border-none outline-none lg:px-20 lg:py-2   2xl:px-20 2xl:py-5 md:px-9 md:py-2 px-5 py-2 sm:py-[2px]   rounded-xl flex items-center justify-center gap-2">
              <span class="text-sm md:text-base">Apply Now</span>
            </button>
          </div>
        </div>
      </div>
<!-- 243 -->
    </div>
  </div>

  <div class="mt-8 flex justify-center">
    <div class="lg:mt-8 mt-3 flex justify-center">
      <button
        class="bg-primary text-white group/button lg:px-8 lg:py-2 xl:px-11 xl:py-3 2xl:px-20 2xl:py-5 md:px-9 md:py-2 px-5 py-2 sm:py-[2px] rounded-full flex items-center justify-center gap-2 hover:bg-black hover:text-white">
        <span
          [ngClass]="translate.currentLang === 'ar' ? 'group-hover/button:translate-x-2' : 'group-hover/button:-translate-x-2'"
          class="transition-transform text-sm sm:text-base md:text-xl 2xl:text-2xl duration-300  ">
          {{ 'APPLY-NOW' | translate }}
        </span>
        <img src="../.././../assets/images/whiteButtonArrow.svg"
          [ngClass]="translate.currentLang === 'ar' ? 'group-hover/button:-translate-x-2 rotate-180 ' : 'group-hover/button:translate-x-2 '"
          class="transition-transform duration-300 w-3 md:w-4  " alt="arrow" />
      </button>

         
    </div>

  </div>
</section>