<nav
    class="bg-white 2xl:h-32 rounded-full 2xl:text-3xl lg:px-8 lg:py-3  py-1 px-2 shadow-[3px_3px_6px_rgba(0,0,0,0.4)]  w-[90%] justify-center h-20 mx-auto flex  items-center ">
    <ul class="flex items-center justify-center gap-2   xl:gap-9 2xl:gap-10 ">


        <li *ngFor="let link of navlinks"><a [href]="link.href"
                class="lg:px-2 lg:py-2 2xl:px-2 2xl:py-3   lg:text-sm xl:text-base 2xl:text-3xl rounded-full  hover:text-primary   active:bg-black active:text-white">{{link.label | translate}}</a>
        </li>

        <li class="relative group"> <a href="#" (click)="toggleLang()" class="hover:text-primary transition">
    {{ 'LANG_BUTTON' | translate }}
  </a>

        </li>
        
    </ul>
</nav>