<nav
    class="bg-white rounded-full lg:px-8 lg:py-3  md:px-0 md:py-0 py-1 px-2 shadow-lg  w-[90%] justify-center h-20 mx-auto flex  items-center ">
    <ul class="flex items-center justify-center gap-2   xl:gap-9">


        <li *ngFor="let link of navlinks"><a [href]="link.href"
                class="lg:px-2 lg:py-3 px-1 py-2  text-sm lg:text-base rounded-full  hover:text-primary   active:bg-black active:text-white">{{link.label}}</a>
        </li>

        <li class="relative group"><a href="#" class="hover:text-primary transition">E
            </a>

        </li>
    </ul>
</nav>