<!-- lw 3iza nos l card bs l yban 5li l width f l small 80% -->
<section class="relative  w-[90%]   mx-auto flex flex-col items-center justify-center">
<app-section-title [title]="'ABOUT_US' | translate" [color]="'before:bg-yellow after:bg-yellow'" ></app-section-title>

  <div class="relative w-full  2xl:mt-10 px-4">
    <!-- Left arrow -->
    <button (click)="prevCard()"
      class="absolute left-0 top-1/2 border-none outline-none -translate-y-1/2 z-10 sm:w-10 sm:h-10 lg:w-12  lg:h-12 w-8 h-8 2xl:w-20 2xl:h-20 bg-primary rounded-full hover:bg-opacity-75 flex items-center justify-center">
         <svg  viewBox="0 0 17 34" fill="none" class="fill-white w-3 md:w-4 2xl:w-6 "
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.0423865 19.0601C-0.225633 17.1958 0.824416 15.9616 1.86712 14.8099C6.12606 10.1034 10.9394 5.87057 15.0772 0.951114C16.1125 -0.0484208 17.4306 1.23359 16.6412 2.59383C15.7784 4.08445 14.1005 5.64025 13.0505 7.0961C8.48316 13.4106 7.27524 22.2369 12.1657 28.886C12.7201 29.6422 14.0308 30.759 14.3869 31.4674C14.8165 32.3279 14.5448 33.3405 13.6673 33.4795C12.9991 33.5838 11.9417 32.3496 11.424 31.8498C8.25553 28.7947 4.36741 24.9922 1.51833 21.585C1.01533 20.981 0.167218 19.9032 0.0460588 19.0558L0.0423865 19.0601Z"
          fill="" />
      </svg>
    </button>

    <!-- Cards  -->
    <div class="flex gap-2 md:gap-5 justify-center items-end py-7  md:overflow-visible ">
      <div *ngFor="let card of cards; let i = index"
        [ngClass]="i === 1 ? 'md:scale-[1.2] scale-[2] z-10' : 'scale-100 opacity-30 md:opacity-100'"
        class="bg-white rounded-md py-2 w-1/3  text-center drop-shadow-md transition-transform duration-300">

        <div class="relative px-2 mb-2 2xl:px-3  ">
          <img [src]="card.image" alt="Card Image" class="     w-full object-cover " />
          <img src="assets/images/aboutUS/aboutUsCurveShape.svg" class="absolute top-0  h-full  left-0" alt="">
        </div>
        <h3 class="text-xs  sm:text-sm md:text-lg 2xl:text-3xl font-semibold ">{{ card.title }}</h3>
        <!-- apply button -->
        <div class=" flex  justify-center">
        <button
          class="bg-primary text-white border-none outline-none  group/button px-2 py-1 sm:px-4 sm:py-2 md:px-5 md:py-1  lg:px-8 xl:px-10 xl:py-3 2xl:px-12 2xl:py-4  rounded-full flex items-center justify-center sm:gap-2 gap-1 hover:bg-black hover:text-white">
          <span
            [ngClass]="translate.currentLang === 'ar' ? 'sm:group-hover/button:translate-x-2 group-hover/button:translate-x-1' : 'group-hover/button:-translate-x-1 sm:group-hover/button:-translate-x-2'"
            class="transition-transform text-[8px] sm:text-base md:text-xl 2xl:text-2xl duration-300  ">
            {{ 'LEARN-MORE' | translate }}
          </span>
          <img src="/assets/images/whiteButtonArrow.svg"
            [ngClass]="translate.currentLang === 'ar' ? 'sm:group-hover/button:-translate-x-2 group-hover/button:-translate-x-1 rotate-180 ' : 'sm:group-hover/button:translate-x-2 group-hover/button:translate-x-1'"
            class="transition-transform duration-300 w-2 sm:w-3 md:w-4  " alt="arrow" />
        </button>
        </div>
      </div>
      
    </div>

    <!-- Right arrow -->
    <button (click)="nextCard()"
      class="absolute right-0 top-1/2 border-none outline-none -translate-y-1/2 z-10 sm:w-10 sm:h-10 lg:w-12  lg:h-12 w-8 h-8 2xl:w-20 2xl:h-20 bg-primary rounded-full hover:bg-opacity-75 flex items-center justify-center">
      <svg  viewBox="0 0 17 34" fill="none" class="fill-white w-3 md:w-4 2xl:w-6  "
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.9576 14.7546C17.2256 16.619 16.1756 17.8532 15.1329 19.0048C10.8739 23.7114 6.06061 27.9442 1.92283 32.8636C0.887472 33.8632 -0.430594 32.5812 0.358778 31.2209C1.22158 29.7303 2.89945 28.1745 3.9495 26.7187C8.51684 20.4042 9.72476 11.5779 4.83433 4.92876C4.27993 4.17259 2.96921 3.05572 2.61307 2.34735C2.18351 1.48688 2.4552 0.474302 3.33269 0.335236C4.0009 0.230936 5.05829 1.46515 5.57597 1.96492C8.74447 5.02002 12.6326 8.8226 15.4817 12.2297C15.9847 12.8338 16.8328 13.9116 16.9539 14.759L16.9576 14.7546Z"
          fill="" />
      </svg>    </button>
    
  </div>
</section>