<section class=" flex justify-center items-center ">
    <div class="w-[1100px] shadow-md rounded-3xl bg-white py-10 px-10 -translate-y-20">
        <div class="flex items-center justify-center ">
            <div>
                <div class="flex items-center mb-8 group justify-center gap-5 ">
                    <div
                        class="before:block before:w-16 sm:before:w-20 md:before:w-24 lg:before:w-28 before:h-[3px]  md:before:h-[4px] lg:before:h-[5px]
             before:bg-yellow before:rounded-lg before:content-[''] before:me-4 before:scale-x-50 before:origin-left before:transition-transform before:duration-300 group-hover:before:scale-x-100">
                    </div>

                    <h2 class="text-center text-3xl text-primary font-bold  ">Who We Are?</h2>

                    <div class="after:block after:w-16 sm:after:w-20 md:after:w-24 lg:after:w-28 
         after:h-[3px] md:after:h-[4px] lg:after:h-[5px] 
         after:bg-yellow after:rounded-lg after:content-[''] 
         after:ms-4 after:scale-x-50 after:origin-right 
         after:transition-transform after:duration-300 
         group-hover:after:scale-x-100">
                    </div>


                </div>
                <div class="flex flex-col lg:flex-row items-center justify-  ">
                    <div class="w-full lg:w-[55%]">
                        <p class="text-justify py-1 ">Tanmeyah is one of Egypt’s leading providers of financial services
                            with
                            a
                            concerted
                            focus on the micro and small enterprise segments. Founded in 2009 and acquired by EFG
                            Holding in
                            2016,
                            Tanmeyah quickly became Egypt’s pioneer in responsible financing for lower-income, small,
                            and
                            micro-enterprise owners with limited access to capital. The financing that Tanmeyah provides
                            for
                            this
                            crucial segment of the population enable small entrepreneurs to launch and grow their
                            businesses
                            and
                            support their surrounding communities. Tanmeyah directs its financing towards high-demand
                            areas
                            and
                            individuals through branches in the heart of its communities.</p>
                        <button class="bg-primary text-white rounded-full mt-4 w-[171px] h-10  ">Apply now</button>
                    </div>
                    <div
                       class="w-[465px] h-[416px] relative flex group/image justify-center items-center overflow-visible">

                        <img src="assets/images/Image2.svg" alt=""
                            class="rounded-lg w-72 h-72 object-cover transition-transform duration-500 group-hover/image:translate-y-4" />

                        <img src="assets/images/Image1.svg" alt=""
                            class="rounded-lg w-56 h-[220px]  absolute top-0 right-0 transition-transform duration-500 group-hover/image:translate-x-4 " />
                    </div>


                </div>
            </div>
        </div>

    </div>

</section>