
:lang(ar) .translateTransform {
  transform: translateX(0.5rem); 
}
:lang(ar) .scaleTransform {
  transform: scaleX(-1); 
}

:lang(ar) .ButtonsTransform {
  transform: rotate(180deg);
}
:lang(ar) .translateDir {
  direction: rtl; 
}

