<section class=" flex justify-center  ">
    <div
        class="w-[90%] drop-shadow-[3px_3px_6px_rgba(0,0,0,0.25)] rounded-[35px] bg-white pt-7 px-5  md:py-10 md:px-10 -translate-y-20">
        <div class="flex items-center justify-center ">
            <div>
                <app-section-title [title]="'WHO-WE-ARE' | translate" [color]="'before:bg-yellow after:bg-yellow'"></app-section-title>

                <div class="flex lg:flex-row items-center flex-col-reverse  ">
                    <div class=" lg:w-[60%]">
                        <p class="text-justify py-1 text-xs sm:text-base md:text-lg 2xl:text-2xl ">Tanmeyah is one of
                            Egypt’s leading
                            providers of financial services
                            with
                            a
                            concerted
                            focus on the micro and small enterprise segments. Founded in 2009 and acquired by EFG
                            Holding in
                            2016,
                            Tanmeyah quickly became Egypt’s pioneer in responsible financing for lower-income, small,
                            and
                            micro-enterprise owners with limited access to capital. The financing that Tanmeyah provides
                            for
                            this
                            crucial segment of the population enable small entrepreneurs to launch and grow their
                            businesses
                            and
                            support their surrounding communities. Tanmeyah directs its financing towards high-demand
                            areas
                            and
                            individuals through branches in the heart of its communities.</p>
                        <button
                            class="bg-primary text-white transition-colors duration-300 mb-5 sm:mb-4  hover:bg-black  rounded-full mt-4  w-28 sm:w-32 md:w-36 lg:w-[171px]  h-10 text-xs sm:text-base ">{{'READ-MORE'|
                            translate}}
                            <i class="fa-solid  fa-chevron-right text-xs ms-1 lg:text-sm "></i>
                        </button>

                    </div>
                    <div
                        class="relative lg:w-[40%]  mb-3 flex justify-center items-start md:items-center group/image mx-auto">
                        <img src="assets/images/Image2.svg" alt="Main Image"
                            class="w-[60%] rounded-lg  transition-transform duration-500 will-change-transform
 group-hover/image:translate-y-[5%]" />

                        <img src="assets/images/Image1.svg" alt="Overlay Image"
                            class="absolute -top-[12%] right-[5%] w-[45%] sm:w-[40%] rounded-lg will-change-transform
 transition-transform duration-500 group-hover/image:translate-x-[10%]" />
                    </div>



                </div>
            </div>
        </div>

    </div>

</section>