<section class=" flex justify-center items-center ">
    <div class="w-[80%] shadow-md rounded-3xl bg-white py-10 px-10 -translate-y-20">
        <div class="flex items-center justify-center ">
            <div>
           <app-section-title [title]="'Who We Are?'" [color]="'before:bg-yellow after:bg-yellow'"></app-section-title>

                <div class="flex flex-col lg:flex-row items-center justify-  ">
                    <div class="w-full lg:w-[55%]">
                        <p class="text-justify py-1 text-xs sm:text-base md:text-lg ">Tanmeyah is one of Egypt’s leading
                            providers of financial services
                            with
                            a
                            concerted
                            focus on the micro and small enterprise segments. Founded in 2009 and acquired by EFG
                            Holding in
                            2016,
                            Tanmeyah quickly became Egypt’s pioneer in responsible financing for lower-income, small,
                            and
                            micro-enterprise owners with limited access to capital. The financing that Tanmeyah provides
                            for
                            this
                            crucial segment of the population enable small entrepreneurs to launch and grow their
                            businesses
                            and
                            support their surrounding communities. Tanmeyah directs its financing towards high-demand
                            areas
                            and
                            individuals through branches in the heart of its communities.</p>
                        <button class="bg-primary text-white rounded-full mt-4  w-28 sm:w-32 md:w-36 lg:w-[171px]  h-10 text-xs sm:text-base ">Read More
                            <i class="fa-solid  fa-chevron-right text-xs sm:text-base "></i>
                        </button>
                    </div>
                    <div
                        class="w-64 sm:w-80 md:w-[420px] lg:w-[450px] xl:w-[465px]
         h-64 sm:h-80 md:h-[380px] lg:h-[400px] xl:h-[416px] relative flex group/image justify-center items-center overflow-visible">

                        <img src="assets/images/Image2.svg" alt=""
                            class="rounded-lg          w-48 sm:w-56 md:w-64 lg:w-68 xl:w-72
         h-48 sm:h-56 md:h-64 lg:h-68 xl:h-72 object-cover transition-transform duration-500 group-hover/image:translate-y-[10%]" />

                        <img src="assets/images/Image1.svg" alt=""
                            class="rounded-lg    w-32 sm:w-40 md:w-48 lg:w-52 xl:w-56
         h-[130px] sm:h-[160px] md:h-[190px] lg:h-[205px] xl:h-[220px]  absolute top-0 right-0 transition-transform duration-500 group-hover/image:translate-x-[10%] " />
                    </div>


                </div>
            </div>
        </div>

    </div>

</section>