@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:"Roboto" ;
    src: url('./assets/Fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
}
*{
    font-family: 'Roboto', sans-serif;
}